.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.hero img {
  margin-top: 50px;
  height: 300px;
}

.hero h1 {
  text-align: center;
  width: 70%;
  font-size: 50px;
  font-weight: 600px;
}

.hero h1 span {
    background-size: 100% 100%;
    background-position: 0 0;
    background-image: repeating-linear-gradient(
      90deg,
      #a100ff 0%,
      #71c4ff 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    
}

.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;

}

.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500px;
    margin-bottom: 50px;
}

.hero-connect{
    padding: 25px 45px;
    border-radius: 50px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,64,225,1) 100%, rgba(0,212,255,1) 100%);cursor: pointer;
}

.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
    text-decoration: none; 
}

.resume_link{
  color: #B2D8CE;
  text-decoration: none;
}

.hero-connect:hover{
    border: 2px solid white;
}

.hero-resume:hover{
    border-color:rgba(64,64,225,1) ;
}

@media(max-width:768px){
  .hero img{
    margin-top: 120px;
    width: 260px;
  }
  .hero h1{
    margin-top: 50px;
    width: 90%;
    font-size: 50px;
  }

  .hero p{
    width: 60%;
    font-size: 18px;
    line-height: 32px;
    margin:10px 0px;
  }
  .hero-action{
    gap: 16px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
  }

  .hero-connect,.hero-resume{
    padding: 20px 30px;
    border-radius: 40px;
  }
}